
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <script type="text/javascript" src="/Assets/vendor/bootstrap.js"></script>
    <link rel="stylesheet" href="/Assets/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/css/reset.css">
    <link rel="stylesheet" href="/Assets/css/menu.css">
    <title>Trang chủ</title>
</head>
<body>
    <div class="container-fluid page-wrapper">
        <div class="row">
            <div class="col-lg-7 menu-img">
            </div>               
            <div class="col-lg-5 menu">
                <h1> HỘI THI ĐIỀU LỆNH KHỐI HỌC VIÊN</h1>
                <h1> NĂM HỌC 2019-2020</h1>
                <button title="Admin" class="btn btn-primary" onclick="location.href='@Url.Action( "Index","Admin/Login")';return false;">Giáo viên</button>
                <button title="Student" class="btn btn-primary" onclick="location.href='@Url.Action( "Index","Student/Login")';return false;">Học viên</button>
            </div>
        </div>
    </div>
</body>
</html>