
@{
    Layout = null;
}
@model ThiDieuLenh.Areas.Admin.Models.LoginModel
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/Assets/vendor/bootstrap.js"></script>
    <link rel="stylesheet" href="/Assets/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/css/reset.css">
    <link rel="stylesheet" href="/Assets/css/login_admin.css">
    <title>Login</title>
</head>
<body>
    <div class="bg-login">
        <div class="login-admin">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger"})
                <div class="form-group">
                    <label for="AdminAccount">Tài khoản</label>
                    @Html.TextBoxFor(model => model.User, new
                           {
                               @class = "form-control",
                               @type = "text",
                               @id = "AdminAccount",
                               @placeholder = "Tên tài khoản"
                           }
                    )
                </div>
                <div class="form-group">
                    <label for="AdminPassword">Mật khẩu</label>
                    @Html.TextBoxFor(model => model.Pass, new
                           {
                               @class = "form-control",
                               @type = "password",
                               @id = "AdminPassword",
                               @placeholder = "Mật khẩu"
                           }
                    )
                </div>
                <!--<div class="form-group form-check" style="margin-top: 0px">
                    <input type="checkbox" class="form-check-input" id="checkOut">
                    <label class="form-check-label" for="checkOut">Nhớ mật khẩu</label>
                </div> -->
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
            }
            <form>
            </form>
        </div>
    </div>
</body>
</html>
